<html>
<head>
      <meta charset="utf-8">
      <title>{{ site.title }}</title>
</head>
<body>
<header>
 {% include header.html %}
   <p>{{ site.description }}</p>
</header>

<main>

{% for post in site.posts %}
    {% if post.featured == true %}
      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      {% if count == '1' %}

        {{ post.title }} 

      {% endif %}
  {% endif %}
{% endfor %}
{% for post in site.posts %}
  {% if post.featured == true %}
    {% capture counttwo %}{{ counttwo | plus: '1' }}{% endcapture %}
    {% if counttwo == '2' or counttwo == '3' %}

      {{ post.title }}

    {% endif %}
  {% endif %}
{% endfor %}

</main>
<footer>
       {% include footer.html %}
</footer>
</body>
</html>